.events {
    width: 100%;

    &__wrapper {
    max-width: 1100px;
    width: 100%;

    margin: 0 auto;
    }
   
  
    .swiper {
        display: flex;
        align-items: center;
        justify-content: center;

        .swiper-slide {
            width: 350px;
            height: 200px;
            border-radius: 10px;

            div {
                height: 200px;

                background-size: cover;
                border-radius: 10px;

                border-radius: 10px;

                h4 {
                    padding-top: 20px;
                    padding-left: 20px;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}