.past-events {
    &__wrapper {
        max-width: 1100px;
        width: 100%;

        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }
    &__items {
        margin-top: 20px;
    }
}
.events {
    display: flex;
    flex-direction: column;

    &__event {
        display: flex;

        border-bottom: 1px solid white;

        padding-bottom: 16px;

        margin-bottom: 16px;

        img {
            width: 400px;
            height: 250px;

            margin-right: 20px;

            border-radius: 10px;

            object-fit: cover;
        }

    }
    &__text {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 24px;
            color: #FFFFFF !important;

            margin-bottom: 10px;
        }

        p {
            max-width: 600px;
            width: 100%;

            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF !important;
        }
    }
}